
.App {
  text-align: center;
}

header{
  border-bottom: 2px solid black;
}

.container{
  width: 80%;
  margin: auto;
  border: 1px solid red;
}

.example{
  width: 70%;
  margin: auto;
  padding: 1rem;
  border: 1px solid green;
  display: flex;
  flex-direction: column;
}

.example-item + .example-item {
  margin-top: 0px;
  padding-top: 0px;
}

.font-size,
.font-family,
.background{
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid black;
}

.copy{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
